@import "tailwindcss";
@import "tailwindcss-animated";
@import "tw-animate-css";
@custom-variant dark (&:where(.dark, .dark *));
:root {
  --font-heading: "Orbitron", sans-serif;
  --font-body: "Montserrat", sans-serif;
  --menu: oklch(20.62% 0.0124 145.11);
  --background: oklch(0.985 0 0);
  --foreground: oklch(0.129 0.042 264.695);
  --primary: oklch(0.68 0.15 237);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.75 0.183 55.934);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
}

.dark {
  --background: oklch(0.141 0.005 285.823);
  --foreground: oklch(0.985 0 0);
  --primary: oklch(0.59 0.22 18);
  --primary-foreground: oklch(0.08 0 0);
  --secondary: oklch(0.768 0.233 130.85);
  --secondary-foreground: oklch(0.77 0.2 311);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.65 0.35 198);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
}

@theme inline {
  --color-menu: var(--menu);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

html {
  scroll-behavior: smooth;
}
#root {
  max-width: 100dvw;
  min-height: 100svh;
  display: flex;
  flex-direction: column;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  font-size: 16px;
  font-weight: 400;
  overflow-x: hidden;
}

/* prettier-ignore */
h1,h2,h3,h4,h5,h6 {
  font-family: var(--font-heading);
  letter-spacing:0.15em;
}
/* prettier-ignore */
h2,h3,h4,h5,h6 {
  color: var(--primary);
}

h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.875rem;
}
h4 {
  font-size: 1.5rem;
}
h5 {
  font-size: 1.25rem;
}
h6 {
  font-size: 1.125rem;
}

li {
  list-style: none;
}

p {
  font-family: var(--font-body);
}

.glow {
  box-shadow: 0 0 0 0.5rem 0.25rem red;
}

.stroke {
  -webkit-text-stroke: 1px black;
}

.fade-border {
  position: relative;
}

.fade-border::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0px;
  right: 0px;
  height: 1px;
  background: linear-gradient(to right, transparent, var(--foreground), transparent);
  opacity: 0.8;
}

.bgMask {
  mask: url("/art.png");
  mask-position: bottom;
  mask-size: cover;
  mask-repeat: no-repeat;
}
.bgMask1 {
  mask: url("/big-pika.svg");
  mask-size: 40%;
  mask-repeat: no-repeat;
  mask-position: left;
}
.bgMask2 {
  mask: url("/big-puff.svg");
  mask-size: 40%;
  mask-repeat: no-repeat;
  mask-position: right;
}
