:root {
  --shadow-x: 5px;
  --shadow-y: 3px;
}

.hard-shadow-bg {
  box-shadow: var(--shadow-x) var(--shadow-y) var(--background);
}

.hard-shadow-fg {
  box-shadow: var(--shadow-x) var(--shadow-y) var(--foreground);
}

.hard-shadow-teal {
  box-shadow: var(--shadow-x) var(--shadow-y) var(--color-teal-500);
}

.hard-shadow-red {
  box-shadow: var(--shadow-x) var(--shadow-y) var(--color-red-500);
}

.hard-shadow-blue {
  box-shadow: var(--shadow-x) var(--shadow-y) var(--color-blue-500);
}

.hard-shadow-green {
  box-shadow: var(--shadow-x) var(--shadow-y) var(--color-green-500);
}

.hard-shadow-yellow {
  box-shadow: var(--shadow-x) var(--shadow-y) var(--color-yellow-500);
}

.hard-shadow-indigo {
  box-shadow: var(--shadow-x) var(--shadow-y) var(--color-indigo-500);
}
.hard-shadow-lime {
  box-shadow: var(--shadow-x) var(--shadow-y) var(--color-lime-500);
}

.hard-shadow-lime:hover {
  box-shadow: var(--shadow-x) var(--shadow-y) var(--color-lime-500);
}
