@tailwind base;
@tailwind components;
@tailwind utilities;
/* * {
  outline: 1px solid red;
} */
@layer base {
  :root {
    --background: 0, 100%, 100%;
    --foreground: 0, 0%, 0%;
    --font-headings: "Doto", serif;
    --font-base: "Orbitron", serif;
    --font-base2: "Pixelify Sans", serif;
  }
  .dark {
    --background: 0, 0%, 2.5%;
    --foreground: 0, 100%, 100%;
  }
}

#root {
  max-width: 100dvw;
  min-height: 100dvh;
}
.heading {
  font-family: var(--font-headings);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: hsl(0, 0%, 2.5%);
    --foreground: hsl(0, 100%, 100%);
  }
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-base);
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.1rem;
  font-size: 1.5rem;
  font-weight: 100;
}

li {
  list-style: none;
}

.glow {
  box-shadow: 0 0 0 0.5rem 0.25rem red;
}

.title {
  font-weight: bold;
  font-size: 3rem;
  margin-top: 1rem;
}

.stroke{
  -webkit-text-stroke: 1px black;
}

@keyframes score-popup {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}

.animate-score {
  animation: score-popup 1s ease-out forwards;
}

@keyframes pingFade{
  0%{
    opacity: 100;
  }
  75%{
    transform: scale(2);
  }
  100%{
    opacity: 0;
    transform: scale(2);
  }
}